.App {
  display: flex;
  width: 100%;
  align-items: stretch;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import "https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,500,600,700";

body {
  /*font-family: 'Poppins', sans-serif;*/
  font-family: "Nunito Sans", sans-serif;
  overflow-y: hidden;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.2s;
}
img {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
ul {
  margin: 0;
  padding: 0;
}
.nav-tabs .nav-link.active {
  text-decoration: underline;
  text-underline-offset: 7px;
  text-decoration-thickness: 1px;
}
.btn-file {
  position: relative;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  padding: 2px 15px;
  margin-right: 20px;
  min-width: 150px;
  margin-bottom: 10px;
}
.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
table tbody {
  border-color: rgba(0, 0, 0, 0.563) !important;
}
.form-control:focus {
  border: none; 
  box-shadow: none;
}
button:hover{
  background-color: #d3d3d33c !important;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.sidebar {
  min-width: 250px;
  max-width: 250px;
  position: relative;
  background: #fff;
  border-right: 1px solid #00000069;
  color: #adb5bd;
  margin-left: -250px;
  transition: all 0.5s;
}

.close_btn {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}
.open_btn {
  /* display: none; */
  position: absolute;
  left: 0px;
  top: 6px;
}
button svg path {
  fill: #5c478e;
}

.sidebar.is-open {
  margin-left: 0;
  transition: 0.5s;
}

.sidebar-header {
  padding: 20px 20px 20px 20px;
}

.sidebar-header h3 {
  color: #fff;
  padding: 1em;
}

.sidebar ul p {
  color: #fff;
  padding: 10px;
}

.collapse.show,
.collapsing {
  background: #313b4c;
}

.nav-item {
  color: #adb5bd;
  font-weight: 300;
  /* border-bottom: 1px solid #000; */
}

.nav-item.open {
  color: #e9ecef;
  background: #313b4c;
}

.nav-item.active {
  color: #e9ecef;
  background: #2d3646 !important;
}
.sidebar .accordion-header button:hover,
.sidebar_navlinks li a:hover {
  font-weight: bold !important;
  transition: 0.2s;
}
.nav-item:hover a {
  color: #000;
}
.nav-item .svg-inline--fa {
  color: inherit;
}
li a.dropdown-toggle::after {
  display: inline-flex;
  position: relative;
  left: 60%;
  top: 10%;
}

.sidebar-header > button {
  position: relative;
  float: right;
  margin: 0.5em;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
.sidebar_navlinks li:first-child {
  border-top: 1px solid #000;
}
.sidebar_navlinks li {
  list-style: none;
  border-bottom: 1px solid #000;
  background-color: #f1e4ff;
}
.sidebar .accordion-header {
  background-color: #f1e4ff;
}
.sidebar_navlinks li a,
.sidebar .accordion-header {
  color: #000;
}
.sidebar .accordion-button {
  padding: 10px 16px !important;
  background-color: transparent !important;
  color: #000 !important;
  font-size: 16px !important;
  font-weight: 300 !important;
}
.sidebar .accordion-button:focus {
  box-shadow: none;
  border: none;
}
.sidebar_navlinks li a:focus {
  color: #000;
}
.sidebar .accordion-body {
  padding: 0;
}
.sidebar .accordion-item {
  border: none;
}
.sidebar .collapse.show,
.collapsing {
  background-color: transparent;
}
.active a {
  background-color: #f5e5ba;
  font-weight: bold !important;
}
.accordion-body .sidebar_navlinks li a {
  padding-left: 30px;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.content {
  margin-left: 0;
  height: 100vh;
  padding: 0;
  position: relative;
}
.alert {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 0;
  z-index: 999;
}
/* ---------------------------------------------------
    TITLE STYLE
----------------------------------------------------- */
.main_title {
  padding: 15px 50px 15px;
  font-size: 20px;
}
/* ---------------------------------------------------
    NAV TABS STYLE
----------------------------------------------------- */
.nav_tabs {
  background-color: #f1e4ff;
  border-bottom: 1px solid #000;
}
.nav_tabs .nav-link {
  min-width: 350px;
  font-size: 1.5rem;
  color: #000;
  font-weight: bold;
  padding: 15px;
  border: none;
  border-right: 1px solid;
  border-radius: 0;
}
.nav_tabs .nav-link.active {
  color: #000;
  background-color: #f5e5ba;
  border-color: #000;
  border: none;
  border-right: 1px solid;
  border-bottom: 1px solid #000;
  text-decoration: none;
}
.nav_tabs .nav-link:hover {
  border-right: 1px solid;
}
.nav_tabs .nav-link:hover {
  border: none;
  border-right: 1px solid;
  border-bottom: 1px solid #000;
}
.tabs_wrapper > .tab-content {
  padding: 15px;
  height: 85vh;
  overflow-y: scroll;
}
.tab-content {
  position: relative;
}
.tab-content.overflow-hide {
  overflow: hidden;
}

.settingsTab {
  border-bottom: none !important;
}

/* ---------------------------------------------------
    CONFIG TABS STYLE
----------------------------------------------------- */
.config_tabs {
  background: #d3d3d363;
  border-bottom: none !important;
}
.config_tabs .nav-item .nav-link {
  min-width: 350px;
  margin: 0 auto;
  border-radius: 0;
  padding: 15px;
  border: none;
  border-right: 1px solid;
  color: #000;
}
.config_tabs .nav-link:focus,
.config_tabs .nav-link:hover {
  border: none;
  border-right: 1px solid;
}
.config_tabs .nav-link.active {
  color: #000;
  background-color: #f5e5ba;
  border-color: #000;
  border: none;
  border-right: 1px solid;
  text-decoration: none;
}

/* ---------------------------------------------------
    TABS TABLE STYLE
----------------------------------------------------- */
/* .table_top_bar {
  background: #d3d3d363;
} */
.searchbar {
  padding: 13px;
}
.searchbar label {
  margin-right: 10px;
  font-weight: bold;
}
/* ******************** Table Css **************** */

tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
thead,
tfoot {
  background: #d3d3d363;
  display: table;
  width: 100%;
}
tbody {
  max-height: 300px;
  overflow-y: scroll;
  width: 100%;
  display: block;
}
tr th,
tr td {
  word-wrap: break-word;
  border-right: 1px solid #000;
  width: 8.16%;
}
tr th {
  font-size: 14px;
}
tr td {
  font-size: 13px;
}
.action,
.table_header {
  background: #d3d3d363;
}
.action_btns {
  display: flex;
}
td.selection-cell,
th.selection-cell-header {
  width: 30px;
}
.selection-row {
  background-color: rgb(241, 228, 255);
}
.tab-content button {
  background-color: #fff;
  padding: 2px 15px;
  margin-right: 20px;
  min-width: 150px;
  margin-bottom: 5px;
}
tbody {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
tbody::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
/* ******************** Table Toggle Css **************** */
.toggle_box {
  --width: 55px;
  --height: calc(var(--width) / 3);
  position: relative;
  display: inline-block;
  width: var(--width);
  height: var(--height);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: var(--height);
  cursor: pointer;
}
.toggle_box input {
  display: none;
}
.toggle_box .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--height);
  background-color: #ccc;
  transition: all 0.4s ease-in-out;
}
.toggle_box .slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(var(--height));
  height: calc(var(--height));
  border-radius: calc(var(--height) / 2);
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out;
}
.toggle_box input:checked + .slider {
  background-color: #2196f3;
}
.toggle_box input:checked + .slider::before {
  transform: translateX(calc(var(--width) - var(--height)));
}
.toggle_box .labels {
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 10px;
  font-family: sans-serif;
  transition: all 0.4s ease-in-out;
}
.toggle_box .labels::after {
  content: attr(data-off);
  position: absolute;
  right: 5px;
  color: #4d4d4d;
  top: 8%;
  transform: translateY(-50%);
  opacity: 1;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease-in-out;
}
.toggle_box .labels::before {
  content: attr(data-on);
  position: absolute;
  left: 5px;
  top: 8%;
  transform: translateY(-50%);
  color: #ffffff;
  opacity: 0;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
  transition: all 0.4s ease-in-out;
}
.toggle_box input:checked ~ .labels::after {
  opacity: 0;
}
.toggle_box input:checked ~ .labels::before {
  opacity: 1;
}

/* ---------------------------------------------------
    HOME STYLE
----------------------------------------------------- */
.welcome_screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.welcome_screen .welcome_head_wrapper {
  max-width: 800px;
  text-align: center;
}
.welcome_screen .welcome_head_wrapper h1 {
  font-size: 70px;
  letter-spacing: 4px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #5243a1;
}
.welcome_screen .welcome_head_wrapper p {
  font-size: 25px;
}
/* ---------------------------------------------------
    MODAL STYLE
----------------------------------------------------- */
.modal_common .modal-content {
  border-radius: 2px;
  border: 1px solid #000;
  background-color: #efefee;
  padding: 10px;
}
.modal_common .modal-content .modal-header {
  padding: 0;
  border: none;
  justify-content: center;
}
.modal_common .modal-content .modal-header .btn-close {
  position: absolute;
  right: 5px;
  top: 5px;
  border-bottom: none;
  z-index: 999;
}
.modal_common .modal-body {
  text-align: center;
}
.modal_common .modal-footer {
  align-items: center;
  padding: 0;
  border: none;
  justify-content: center;
}
.modal_common input[type="text"],
.modal_common input[type="number"],
.modal-content select {
  max-width: 100px;
}
.edit_modal .mute {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal_common .btn-close {
  border-radius: 50%;
  background: transparent url("close-circle-svgrepo-com.svg") center/1em auto
    no-repeat;
}
.modal_common .btn-close:focus,
select:focus {
  border: none;
  outline: none !important;
  box-shadow: none !important;
}
.visualize_modal .bg-lightgray {
  background: #d3d3d363;
}
/* ---------------------------------------------------
    OFDM Chennle STYLE
----------------------------------------------------- */
.OFDM_channel_tab li .nav-link.active {
  background: #f5e5ba;
  text-decoration: none;
}
.OFDM_channel_tab li {
  border-bottom: 0;
}

/* ---------------------------------------------------
    QAM Chennle STYLE
----------------------------------------------------- */
.advance_setting {
  width: 30%;
  margin: 0 auto;
}
.advance_setting .accordion-item {
  background-color: transparent;
  border: none;
}
.advance_setting .accordion-item .accordion-header button {
  padding: 0;
  background-color: transparent;
  font-weight: bold;
}
.advance_setting .accordion-item .accordion-header button:focus {
  border: none;
  color: #000;
  box-shadow: none;
}
.accordion-button:not(.collapsed) {
  color: #000;
}
.advance_setting .accordion-body {
  padding: 10px 0;
}
.advance_setting .collapse.show,
.collapsing {
  background-color: transparent;
}

/* ---------------------------------------------------
    MEDIA STYLE
----------------------------------------------------- */

@media (max-width: 1199px) {
  .welcome_screen .welcome_head_wrapper h1 {
    font-size: 60px;
  }
  .sidebar {
    min-width: 200px;
  }
  .nav_tabs .nav-link {
    min-width: 200px;
    font-size: 20px;
    padding: 10px;
  }
  .config_tabs .nav-item .nav-link {
    min-width: 200px;
    padding: 10px;
  }
  .searchbar {
    padding: 8px;
  }
  .table > :not(caption) > * > * {
    padding: 4px !important;
  }
  thead,
  tfoot {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .welcome_screen .welcome_head_wrapper h1 {
    font-size: 50px;
    letter-spacing: 2px;
    margin-bottom: 10px;
  }
  .sidebar {
    min-width: 160px;
  }
  .nav_tabs .nav-link {
    min-width: 140px;
    font-size: 16px;
    padding: 8px;
  }
  .config_tabs .nav-item .nav-link {
    min-width: 140px;
    font-size: 14px;
    padding: 8px;
  }
  thead tr th,
  tbody tr td {
    font-size: 12px;
  }
  .toggle_box {
    --width: 35px;
  }
  .toggle_box .labels {
    font-size: 8px;
  }
  .toggle_box .labels::before,
  .toggle_box .labels::after {
    top: -5%;
  }
  .searchbar label {
    font-size: 14px;
  }
  thead,
  tfoot {
    width: 100%;
  }
}

@media (max-width: 767px) {
  /* .close_btn,
  .open_btn {
    display: block;
  } */
  .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
  }
  .OFDM_channel_tab li .nav-link {
    font-size: 12px;
    padding: 4px 12px !important;
  }
}

@media only screen and (max-width: 575.98px) {
  body {
    overflow: hidden;
  }

  .content.is-open {
    transition: all 0.5s;
  }

  .close_btn {
    display: block;
  }

  .sidebar.is-open > .sidebar-header button {
    display: block;
  }

  li a.dropdown-toggle::after {
    display: inline-block;
    position: relative;
    left: 68%;
  }
}

@media (max-width: 320px) {
  .nav_tabs .nav-link {
    min-width: 140px;
    font-size: 12px;
    padding: 6px;
  }
  .config_tabs .nav-item .nav-link {
    min-width: 140px;
    font-size: 12px;
    padding: 6px;
  }
}
