.App {
  display: flex;
  width: 100%;
  align-items: stretch;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import "https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,500,600,700";

body {
  /*font-family: 'Poppins', sans-serif;*/
  font-family: "Nunito Sans", sans-serif;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.2s;
}
img {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
ul {
  margin: 0;
  padding: 0;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #fff;
  border-right: 1px solid #00000069;
  color: #adb5bd;
  margin-left: -250px;
  transition: all 0.5s;
}

.sidebar.is-open {
  margin-left: 0;
  transition: 0.5s;
}

.sidebar-header {
  padding: 20px;
}

.sidebar-header h3 {
  color: #fff;
  padding: 1em;
}

.sidebar ul p {
  color: #fff;
  padding: 10px;
}

.collapse.show,
.collapsing {
  background: #313b4c;
}

.nav-item {
  /*color: #ced4da;*/
  color: #adb5bd;
  font-weight: 300;
}

.nav-item.open {
  color: #e9ecef;
  background: #313b4c;
}

.nav-item.active {
  color: #e9ecef;
  background: #2d3646 !important;
}
.nav-item .nav-link:hover {
  background: #f5e5ba;
}
.sidebar .accordion-header:hover {
  background: #f5e5ba;
  transition: 0.2s;
}
.nav-item:hover a {
  color: #000;
}
.nav-item .svg-inline--fa {
  color: inherit;
}

li a.dropdown-toggle::after {
  display: inline-flex;
  position: relative;
  left: 60%;
  top: 10%;
}

.sidebar-header > button {
  position: relative;
  float: right;
  margin: 0.5em;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
.sidebar_navlinks li:first-child {
  border-top: 1px solid;
}
.sidebar_navlinks li {
  list-style: none;
  border-bottom: 1px solid #00000069;
  background-color: #f1e4ff;
}
.sidebar .accordion-header {
  background-color: #f1e4ff;
}
.sidebar_navlinks li a,
.sidebar .accordion-header {
  color: #000;
}
.sidebar .accordion-button {
  padding: 10px 16px !important;
  background-color: transparent !important;
  color: #000 !important;
  font-size: 16px !important;
  font-weight: 300 !important;
}
.sidebar .accordion-button:focus {
  box-shadow: none;
  border: none;
}
.sidebar_navlinks li a:focus {
  color: #000;
}
.sidebar .accordion-body {
  padding: 0;
}
.sidebar .accordion-item {
  border: none;
}
.sidebar .collapse.show,
.collapsing {
  background-color: transparent;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.content {
  margin-left: 0;
  height: 100vh;
  padding: 0;
}
/* ---------------------------------------------------
    TITLE STYLE
----------------------------------------------------- */
.main_title {
  padding: 15px 50px 15px;
}
/* ---------------------------------------------------
    NAV TABS STYLE
----------------------------------------------------- */
.nav_tabs {
  background-color: #f1e4ff;
  border-bottom: 1px solid;
}
.nav_tabs .nav-link {
  min-width: 350px;
  font-size: 1.5rem;
  color: #000;
  font-weight: bold;
  padding: 15px;
  border: none;
  border-right: 1px solid;
  border-radius: 0;
}
.nav_tabs .nav-link.active {
  color: #000;
  background-color: #f5e5ba;
  border-color: #000;
  border: none;
  border-right: 1px solid;
}
.nav_tabs .nav-link:focus,
.nav_tabs .nav-link:hover {
  border-right: 1px solid;
}
.nav_tabs .nav-link:focus,
.nav_tabs .nav-link:hover {
  border: none;
  border-right: 1px solid;
}
.tabs_wrapper > .tab-content {
  padding: 15px;
}

/* ---------------------------------------------------
    CONFIG TABS STYLE
----------------------------------------------------- */
.config_tabs {
  background: #d3d3d363;
}
.config_tabs .nav-item .nav-link {
  min-width: 350px;
  margin: 0 auto;
  border-radius: 0;
  padding: 15px;
  border: none;
  border-right: 1px solid;
  color: #000;
}
.config_tabs .nav-link:focus,
.config_tabs .nav-link:hover {
  border: none;
  border-right: 1px solid;
}
.config_tabs .nav-link.active {
  color: #000;
  background-color: #f5e5ba;
  border-color: #000;
  border: none;
  border-right: 1px solid;
}

/* ---------------------------------------------------
    OFDM TABS STYLE
----------------------------------------------------- */

.searchbar {
  display: flex;
  justify-content: flex-end;
  padding: 13px;
  background: #d3d3d363;
}
.searchbar label {
  margin-right: 10px;
  font-weight: bold;
}
.table-responsive {
  table-layout: fixed;
  border-collapse: collapse;
}
.main_table thead tr {
  display: block;
}
.main_table th, td {
  width: 200px;
  padding: 5px 10px !important;
}
.main_table tbody {
  display: block;
  width: 100%;
  overflow: auto;
  height: 280px;
}
.main_table thead {
  background: #d3d3d363;
}
.action {
  background: #d3d3d363;
}
.action_btns {
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 575.98px) {
  body {
    overflow: hidden;
  }

  .content.is-open {
    transition: all 0.5s;
  }

  .sidebar.is-open {
    min-width: 100%;
    max-width: 100%;
    margin-left: 0;
    transition: all 0.5s, height 0s;
    height: 100vh !important;
  }

  .sidebar.is-open > .sidebar-header button {
    display: block;
  }

  li a.dropdown-toggle::after {
    display: inline-block;
    position: relative;
    left: 68%;
  }
}
/* ---------------------------------------------------
    HOME STYLE
----------------------------------------------------- */
.welcome_screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.welcome_screen .welcome_head_wrapper {
  max-width: 800px;
  text-align: center;
}
.welcome_screen .welcome_head_wrapper h1 {
  font-size: 70px;
  letter-spacing: 4px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #5243a1;
}
.welcome_screen .welcome_head_wrapper p {
  font-size: 25px;
}
